<p>template-form works!</p>
<!-- <!--form>(div>(label+input))+(div>(label+input))+button -->
<form #form="ngForm" (ngSubmit) = "onSubmit(form)">
    <div>
      <label>Nome: </label>
      <input type="text" name="name" ngModel required #name="ngModel"/>
      <div *ngIf="name.invalid && name.touched" class="error" >Nome Obrigatório</div>
    </div>
    
    <div>
      <label>Email: </label>
      <input type="text" name="email" ngModel/>
    </div>
    
    <button type="submit">Submit</button>
  
  </form>

  <!-- form>div(.label+input)+div -->
<!-- <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div>
      <label>Nome:</label>
      <input type="text" name="name" ngModel required #name="ngModel" />
      <input type="text" name="name" ngModel require #name="ngModel"/>
      <div *ngIf="name.invalid && name.touched" class="error" >Nome Obrigatório</div>
      <div *ngIf="name.invalid && name.touched" class="error">nome Obrigatório</div>
    </div>
    <div>
      <label>E-mail:</label>
      <input type="text" name="email" ngModel />
    </div>
    <button type="submit">Submit</button>
  </form> -->